@import "vars"
@import "fonts"

*
    box-sizing: border-box

body
    +reg

img
    max-width: 100%

.container
    max-width: 1170px
    width: 96%
    margin: auto
    @media (max-width: 640px)
        width: 90%
       
    

.button
    background-color: $buttons
    color: $accent
    border: none
    cursor: pointer
    padding: 18px 47px
    border-radius: 10px
    +bold
    &:hover
        background-color: lighten($buttons, 10%)
        
.input
    border: 1px solid $border-input
    padding: 20px 25px
    border-radius: 10px
    margin-bottom: 30px
    font-size: 15px

.section-title
    font-size: 30px
    +bold
    text-align: center
    line-height: 45px

.section-subtitle
    color: #000
    font-size: 20px
    text-align: center
    display: block

.header
    padding: 20px 0px
    &-block
        display: flex
        justify-content: space-between
        align-items: center
    &__info
        display: flex
        text-align: right
    &__contacts
        display: flex
        flex-direction: column
        justify-content: center
        @media (max-width: 640px)
            display: none
    &__address
        color: $accent
        font-size: 13px
        font-weight: 400
        +bold
    &__phone
        color: $accent
        font-size: 20px
        font-weight: 400
        text-decoration: none
        display: block
        margin-top: 5px
        +bold
    &__button
        padding: 18px 47px
        border-radius: 10px
        margin-left: 30px
        font-size: 13px
        +bold

.main
    background-color: $grey
    &-block
        display: flex
        padding: 40px 0px 15px 0px
        @media (max-width: 1200px)
            flex-direction: column
            padding: 0px 0px 0px 0px
    &-text
        flex-basis: 50%
        @media (max-width: 1200px)
            margin-bottom: 30px
        &__title
            font-size: 41px
            color: $accent
            padding-right: 200px
            line-height: 55px
            margin: 45px 0px 20px 0px
            +bold
            @media (max-width: 1200px)
                padding-right: 10px
            @media (max-width: 640px)
                font-size: 30px
                line-height: 1.4
        &__subtitle
            font-size: 20px
            line-height: 65px
            color: $accent
            +bold
            @media (max-width: 640px)
                font-size: 16px
                line-height: 1.4
    &-image
        margin-right: -55px
        @media (max-width: 1200px)
            width: 100%

    &-list
        margin: 40px 0px 0px -40px
        padding: -30px 0px 0px 0px 
        @media (max-width: 640px)
            margin: 10px 0px 0px -40px    
        &__item
            display: flex 
            align-items: center
            margin-bottom: 20px
            &:last-child
                margin-bottom: 0px
            @media (max-width: 640px)
                margin-bottom: 15px
        &__image
            width: 40px
            height: 40px
            display: flex
            align-items: center
            justify-content: center
            margin-right: 30px
        &__text
            font-size: 14px
            line-height: 24px
            color: $accent
            max-width: 300px
            @media (max-width: 640px)
                font-size: 12px
                max-width: 250px
            
.offer
    padding: 90px 0px
    background: url('../img/offer-bg.jpg') no-repeat
    background-position: center right
    background-size: contain
    position: relative
    @media (max-width: 1200px)
        background-size: cover
        padding: 10px
    @media (max-width: 768px)
        background: #fff
    &::before
        content: ""
        width: 50%
        height: 100%
        position: absolute
        background-color: #fff
        top: 0
        left: 0
    &-block
        width: 50%
        padding-right: 90px
        position: relative
        @media (max-width: 768px)
            width: 100%
            padding-right: 0px
    &-title
        font-size: 24px
        color: $accent
        line-height: 35px
        max-width: 350px
        margin-bottom: 25px
        +bold
    &-subtitle
        font-size: 16px
        color: $accent
        display: inline-block
        max-width: 260px
        margin-bottom: 30px
    &__input
        margin-bottom: 30px
        width: 240px
        @media (max-width: 1215px)
            width: 100%
            margin-bottom: 15px
        &:first-child
            margin-right: 10px
    &__button
        width: 100%
        min-height: 70px
    &-text
        display: flex
        justify-content: space-between
        margin-top: 31px
        @media (max-width: 950px)
            flex-direction: column
    &-dodatek
        font-size: 15px
        line-height: 24px
        color: $accent
        width: 168px
        @media (max-width: 950px)
            width: 200px
            margin-bottom: 15px
        
    &__tel
        text-decoration: none 
        color: $accent
        +bold
        margin-top: 0px

.portfolio
    padding: 100px 0px
    background: $grey url('../img/portfolio-bg.png') left repeat-y
    background-size: 50%

    &__title
        margin-bottom: 100px
        color: $accent

    &__arrows
        max-width: 120px
        display: flex
        justify-content: space-between
        margin: auto
        margin-top: 70px
.arrows-left, .arrows-right
    cursor: pointer 

.slider
    &__image
        margin: auto

.price
    padding: 100px 0px
    @media (max-width: 768px)
        padding: 50px 0px
    &__title
        margin-bottom: 60px
        @media (max-width: 768px)
            margin-bottom: 30px
    &__subtitle
        margin-bottom: 60px
        
    &__card
        margin-bottom: 30px

.cards
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    @media (max-width: 768px)
        margin: auto
        

.card
    text-align: center
    border: 1px solid $border-card
    transition: 0.5s
    @media (max-width: 768px)
        justify-content: space-between
    @media (max-width: 768px)
        margin: auto
    &:hover
        box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1)
        .card__image::before
            opacity: 1
    &__text
        padding: 40px
    &__title
        margin-top: 0px
        font-size: 18px
        margin-bottom: 30px
    &__image
        position: relative
        img
            display: block
        &::before
            content: ''
            position: absolute  
            left: 0
            top: 0
            width: 100%
            height: 100%
            background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%)
            opacity: 0 
            transition: .5s
    &__link
        text-decoration: none
        color: $accent
        +bold
        display: inline-block
        font-size: 16px
        position: relative
        &:hover
            &::after
                height: 13px
                
        &::after
            content: ''
            width: 100%
            height: 3px
            background-color: $main-color
            display: block
            position: absolute
            z-index: -1
            bottom: -4px
            left: 0
            transition: 0.5s

.steps
    padding-bottom: 120px
    &__title
        margin-bottom: 60px
    &__subtitle
        margin-bottom: 75px
            
.icons
    display: flex
    justify-content: space-between

.icon
    text-align: center
    position: relative
    &:last-child
        &::after
            display: none
    &::after
        content: ''
        position: absolute
        display: block
        top: -10px
        right: -95px
        width: 72px
        height: 25px
        background-image: url('../img/steps-arrow.png')
        &:last-child
            display: none
    &__image
        width: 100px
        height: 100px
        border: 3px solid #ffd200
        border-radius: 100px
        display: flex
        justify-content: center
        align-items: center
        margin: auto
        margin-bottom: 30px
        img
            height: 30px
            width: 30px
            display: inline-block
    &__text
        max-width: 140px
        display: inline-block
        font-size: 14px
        line-height: 20px
        
.notice
    background-color: $second
    &__text
        padding-top: 100px
        padding-bottom: 100px
        text-align: center
        font-size: 32px
        line-height: 50px
        +reg


.modal
    position: fixed
    left: 0
    top: 0
    width: 100%
    height: 100%
    background-color: rgba(0,0,0 ,.5 )
    display: none
    &_active
        display: flex      
    &-dialog
        margin: auto
        max-width: 450px
        width: 90%
        min-height: 200px
        background-color: white
        padding: 40px
        position: relative
        &__close
            position: absolute
            top: 0
            right: 0
            


            